.profile {
    display: flex;
    margin: 0 auto 51px;
    max-width: 880px;
}

@media screen and (max-width: 879px) {
    .profile {
        max-width: 580px;
        flex-direction: column;
    }
}

@media screen and (max-width: 579px) {
    .profile {
        max-width: 320px;
        align-items: center;
    }
}