.popup__close {
    background-image: url("../../../images/Close-Icon.svg");
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    top: -48px;
    right: -48px;
    padding: 0;
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
}

@media screen and (max-width: 546px) {
    .popup__close {
        width: 26px;
        height: 26px;
        top: -53px;
        right: 8px;
    }
}

.popup__close:hover {
    opacity: 0.6;
}