.profile__edit-button {
    background-image: url(../../../images/Edit-Button.svg);
    color: #fff;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: #000;
    cursor: pointer;
    box-sizing: border-box;
    background-size: cover;
}

@media screen and (max-width: 879px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}