.element__heart {
    background-image: url("../../../images/heart.svg");
    width: 21px;
    height: 18px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.element__heart:hover {
    opacity: 0.5;
}
.element__heart:focus {
    outline: -webkit-focus-ring-color auto 0;
}