.element {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    height: 362px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}