.popup__container_type_image {
    max-width: 816px;
    max-height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding: 0;
}
@media screen and (max-width: 320px) {
    .popup__container_type_image {
        max-width: 240px;
        max-height: 299px;
    }
}